**/node_modules/
**/yarn-error.log
**/.env
.DS_Store
.nx/cache
.yarn
tsconfig.tsbuildinfo
dist/
packages/opengov/.env
.env
packages/opengov/artifacts/*
!packages/opengov/artifacts/batch_exported_account_example.json
